<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio Administrador</title>
    <link rel="stylesheet" href="../Styles/styleadmin.css" />
  </head>
  <body>
    <ul>
      <li><a href="inicioadmin.html">Inicio</a></li>
      <li><a href="registroacademico.html">Registro Academico </a></li>
      <li><a href="administracioncursos.html">Administracion de Cursos</a></li>
      <li>
        <a href="administracioncuentas.html">Administracion de Cuentas</a>
      </li>
      <li><a href="/logout">Salir</a></li>
      <!-- Agregamos el enlace de logout -->
    </ul>

    <div class="img-container">
      <img src="../Images/darkicon.png" alt="icono" />

      <div class="info-box">
        <h1>BIENVENIDO USUARIO ADMINISTRADOR</h1>
      </div>
    </div>
  </body>
</html>
